body,html {
    padding:0px;
    margin:0px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    color:#fff;
    background:rgb(0, 0, 0);
    scroll-behavior: smooth;
}
#header {
    width:80%;
    padding:4% 10%;
    text-align:center;
    position:absolute;
    transition:0.6s ease-in-out;
}
#header div {
    display:block;
}
#title {
    font-size:40px;
    background-image: linear-gradient(to left, #FF416C 0%, #FF4B2B 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
}
#links {
    margin:40px 0px;
    transition:0.6s ease-in-out;
    color:#fff;
}
#links a {
    margin:0px 30px;
    color:inherit;
    text-decoration:none;
    transition:0.4s ease-in-out;
    padding:5px 8px;
    border-bottom:2px solid transparent;
}
#links a:hover {
    border-bottom:2px solid #fff;
}
#middle {
    width:100%;
    height:80vh;
    background:linear-gradient(0deg,rgba(0,0,0,1),rgba(0,0,0,0)),url("https://images.unsplash.com/photo-1494587351196-bbf5f29cff42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&&w=1351&q=80") center center fixed;
    background-size:100% auto;
    color:white;
    display:flex;
    justify-content:center;
    flex-direction:column;
    transition:1s ease-in-out;
    padding-top:20vh;
}
#tagline {
    font-size:50px;
    width:60%;
}
#portfolio {
    width:80%;
    padding:2% 10%;
}
#portfolio div h1 {
    font-size:40px;
    background-image: linear-gradient(to left, #FF416C 0%, #FF4B2B 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
}
#skills {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
#work {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
#contact {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
.btn_one {
    color:white;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin:30px 10px;
}
.btn_one:hover {
    background:white;
    cursor:pointer;
    color:#000;
}
.project div {
    font-weight:normal;
}
.btn_two {
    color:#000;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    background:#fff;
    transition:0.4s ease-in-out;
    margin:30px 10px;
}
.btn_two:hover {
    background:transparent;
    cursor:pointer;
    color:#fff;
}
#details {
    margin:6vh 0px;
}
.btn_social {
    font-size:18px;
    color:#fff;
    margin:40px 20px !important;
    padding:15px 18px;
    border-radius:50%;
    background:#000;
    transition:0.4s ease-in-out;
}
.btn_social:hover {
    color:#000;
    background:#fff;
    cursor:pointer;
}
@media (max-width: 600px){
    #header {
        width:94%;
        padding:10% 3%;
    }
    #title {
        font-size:30px;
    }
    #links {
        margin:20px 0px;
    }
    #middle {
        width:100%;
        border-radius:0px;
        height:90vh;
    }
    #tagline {
        width:70%;
    }
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #000; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@-webkit-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}