*,
*:after,
*:before {
    box-sizing: border-box;
}
body,
html {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    font-size: 16px;
    /* background: #dbc960; */
    /* background:rgb(0, 0, 0); */
    /* background:linear-gradient(0deg,rgba(8, 135, 185, 0.301),rgba(184, 58, 209, 0.349)),url("https://media.tenor.com/BSp1Rv3lUIIAAAAC/aesthetic-beautiful.gif") center center fixed; */
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.945),rgba(78, 42, 1, 0.45)),url("https://i.imgur.com/qEpnnqW.jpeg") center center fixed;
    /* background-image: url("https://media.tenor.com/BSp1Rv3lUIIAAAAC/aesthetic-beautiful.gif"); */
    /* background-size: cover; */
    color: #2D3737;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:60px;
    height:60px;
    border:6px solid #fff;
    border-bottom:6px solid #000;
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.protected {
    background: #fff;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    box-shadow: 10px 20px 30px 0 rgba(0,0,0,0.1);
    border-radius: 20px;
    min-width: 250px;
}
.protected__content {
    padding: 24px 28px;
}
.protected__content__heading {
    /* font-size: 16px; */
    font-weight: bold;
    margin: 0 0 12px;
    line-height: 1;
}
.protected__alert {
    display: none;
    text-align: center;
    border-bottom: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    padding: 12px 14px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.protected__content__input {
    display: block;
    border: solid 1px #ccc;
    padding: 12px 14px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 20px;
}
.protected__content__input:focus {
    outline: none;
    border-color: #228843;
}

/* preliminary check for inputed value */
.protected__content__input:focus:invalid {
    border-color: red;
}
.protected__content__input:invalid {
    border-color: red;
}


.protected__content__btns {
    display: flex;
    justify-content: space-between;
}
.protected__content__btn {
    background-color: #228843;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 6px;
}
.protected__content__btn:hover {
    background-color: #1C6D36;
}


h1{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 174, 0) 0 1px 1px;
    display: block;
    /* border: solid 1px #ccc; */
    padding: 10px 10px;
    text-align: center;
}


h2{
    font-size: 16px;
    text-align: center;
    padding:10px 40px;
    background-color: #ebccd1;
    border: solid 1px #ccc;
    border-radius: 10px;
}

img {
    border: 3px solid #555;
  }